.sidebar-link {
    color: rgba(255, 255, 255, .6);
    text-decoration-color: rgba(255, 255, 255, .5);
    margin-left: 1.5rem;
    line-height: 2rem;
    pointer-events: auto;
    display: block;
    width: 90%;
}

.sidebar-li:hover {
    background: rgba(179, 26, 26, .5);
    border-radius: 4px;
}

.sidebar-li:hover .sidebar-link {
    color: rgba(255, 255, 255, 1);
    text-decoration-color: rgba(255, 255, 255, 1);
}

.login-bg {
    color: white;
    width: 50%;
    height: 40%;
    min-height: 500px;
    border-radius: 10px;
}