{% extends "drf-yasg/swagger-ui.html" %}

{% block extra_scripts %}
    <script>

        var token = JSON.parse(localStorage.getItem(KEY_AUTH))['Token']

        if (token != undefined) {
            if (! token.value.startsWith('Token')) {
                var old_authorization = JSON.parse(localStorage.getItem(KEY_AUTH))
                old_authorization['Token'].value = "Token " + old_authorization['Token'].value
                localStorage.setItem(KEY_AUTH, JSON.stringify(Immutable.fromJS(old_authorization)))
            }
        }
    </script>
{% endblock %}