<table class="table table-hover" id="gamemodes_table{% if type %}_{{ type|lower }}{% endif %}">
    <thead>
        <tr>
            <th scope="col" class="ps-3 col col-2">Name</th>
            <th scope="col" class="col col-1">Type</th>
            <th scope="col" class="col col-1">Official</th>
            <th scope="col" class="col col-2">Start Date</th>
            <th scope="col" class="col col-2">End Date</th>
            <th scope="col" class="col col-1"></th>
        </tr>
    </thead>
    <tbody id="table-body-gamemodes{% if type %}-{{ type|lower }}{% endif %}">
        {% for tag_set in tag_sets %}
            {% if not status or tag_set.get_status == status %}
                <tr>
                    <td scope="row" class="ps-3"><a href="{% url 'frontend:gamemode_detail' tag_set.slug %}" class="link-dark">{{ tag_set.name }}</a></td>
                    <td>{{ tag_set.tagset_type|title }}</td>
                    <td>{{ tag_set.community.community_type|title }}</td>
                    <td>{{ tag_set.start_date }}</td>
                    <td>{{ tag_set.end_date }}</td>
                    <td>
                        <div class="float-end">
                            {{ tag_set.display_status|safe }}
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>