<table class="table table-hover" id="tags_table{% if type %}_{{ type|lower }}{% endif %}">
    <thead>
        <tr>
            <th scope="col" class="ps-3">Name</th>
            <th scope="col">Active</th>
            <th scope="col">Description</th>
            <th scope="col">Gecko Code</th>
            <th scope="col">Gecko Code Desc</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody id="table-body-tags{% if type %}-{{ type|lower }}{% endif %}">
        {% for tag in tags %}
            {% if not status or status == 'all' or tag.active|slugify == status %}
                <tr>
                    <td scope="row" class="ps-3 col-md-2"><a href="{% url 'frontend:tag_detail' tag.slug %}" class="link-dark">{{ tag.name }}</a></td>
                    <td class="col-md-1">{{ tag.active }}</td>
                    <td class="col-md-2">{{ tag.description }}</td>
                    <td class="col-md-2">
                        {% if tag.gecko_code %}
                        <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGeckoCode{{ tag.id }}" aria-expanded="false" aria-controls="#collapseGeckoCode{{ tag.id }}">
                            Gecko Code
                        </button>
                        <div class="collapse" id="collapseGeckoCode{{ tag.id }}">
                            <code class="card card-body text-danger user-select-all mt-2 p-1 ps-2">
                                {{ tag.display_gecko_code|safe }}
                            </code>
                        </div>
                        {% else %}
                        None
                        {% endif %}
                    </td>
                    <td class="col-md-2">{{ tag.gecko_code_desc }}</td>
                    <td class="col-md-1">{{ tag.tag_type|title }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let activeFilterBox = null;

        // Function to initialize filtering for a specific table
        function initializeTableFiltering(tableBodyId) {
            const tableBody = document.getElementById(tableBodyId);
            const filterIcons = tableBody.closest('table').querySelectorAll('.filter-icon');

            filterIcons.forEach((icon, index) => {
                icon.addEventListener('click', function (event) {
                    const filterBox = icon.nextElementSibling;

                    if (activeFilterBox && activeFilterBox !== filterBox) {
                        activeFilterBox.style.display = 'none';
                    }

                    filterBox.style.display = filterBox.style.display === 'block' ? 'none' : 'block';
                    activeFilterBox = filterBox.style.display === 'block' ? filterBox : null;

                    event.stopPropagation(); // Prevents the document click listener from immediately hiding the box
                });
            });

            // Prevent the filter box from hiding when clicking inside it
            const filterBoxes = tableBody.closest('table').querySelectorAll('.filter-box');
            filterBoxes.forEach((box) => {
                box.addEventListener('click', function (event) {
                    event.stopPropagation(); // Prevent click inside filter box from hiding it
                });
            });

            // Filter function
            const filterInputs = tableBody.closest('table').querySelectorAll('.filter-input');
            filterInputs.forEach((input, index) => {
                input.addEventListener('input', function () {
                    const filterValue = input.value.toLowerCase();
                    const rows = tableBody.getElementsByTagName('tr');

                    Array.from(rows).forEach(row => {
                        const cell = row.getElementsByTagName('td')[index];
                        if (cell) {
                            const cellText = cell.textContent.toLowerCase();
                            row.style.display = cellText.includes(filterValue) ? '' : 'none';
                        }
                    });
                });
            });
        }

        // Hide active filter box when clicking outside
        document.addEventListener('click', function () {
            if (activeFilterBox) {
                activeFilterBox.style.display = 'none';
                activeFilterBox = null;
            }
        });

        // Initialize filtering for all tables
        initializeTableFiltering('table-body-tags{% if type %}-{{ type|lower }}{% endif %}');
    });
</script>
