{% extends "base.html" %}
{% load static %}

{% block title %}
Project Rio - Users
{% endblock %}

{% block start_body_script %}
<script>
    function searchTable() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementsByClassName("table")[0];
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
</script>
{% endblock %}


{% block body %}
<div class="card mt-3">
    <div class="card-header">
        <div>
            <span class="display-5">All Users</span>
            <div class="form-floating w-25 float-end">
              <input type="text" class="form-control" id="searchInput" placeholder="Search for user" onkeyup="searchTable()">
              <label for="searchInput">Search for user</label>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="ps-3">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Date Created</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row" class="ps-3 col-md-2">{{ forloop.counter }}</th>
                    <td class="col-md-2"><a href="{% url 'frontend:users' user.username %}" class="link-dark">{{ user.user.username }}</a></td>
                    <td class="col-md-2">{{ user.date_created }}</td>
                    <td class="col-md-4">
                        {% if user.private %}
                            <span class="badge text-bg-warning ms-2" data-bs-toggle="tooltip" data-bs-title="User has their profile marked as private"><i class="bi bi-exclamation-triangle me-2"></i>Private</span>
                        {% endif %}
                        {% if not user.verified and request.user.is_staff %}
                            <span class="badge text-bg-danger ms-2" data-bs-toggle="tooltip" data-bs-title="User is not verified"><i class="bi bi-exclamation-triangle me-2"></i>Unverified</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block end_body_script %}
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}