{% extends "base.html" %}
{% load static %}

{% block title %}
Project Rio - Communities
{% endblock %}

{% block start_body_script %}
<script>
    function searchTable() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementsByClassName("table")[0];
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 1; i < tr.length; i++) {
        th = tr[i].getElementsByTagName("th")[0];
        if (th) {
          txtValue = th.textContent || th.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }else{
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
        }
      }
    }
</script>
{% endblock %}


{% block body %}
<h1>All Communities</h1>
<div class="form-floating mb-3" style="width: 95%;">
  <input type="text" class="form-control" id="searchInput" placeholder="Search for community" onkeyup="searchTable()">
  <label for="searchInput">Search for community</label>
</div>
<table class="table table-dark table-hover" style="width:95%;">
    <thead>
        <tr>
            <th scope="col" class="ps-3">Name</th>
            <th scope="col">Date Created</th>
            <th scope="col">Description</th>
            <th scope="col">Private</th>
            <th scope="col">Tag Set Limit</th>
            <th scope="col">Type</th>
            <th scope="col">URL</th>
        </tr>
    </thead>
    <tbody>
        {% for community in communities %}
        <tr>
            <th scope="row" class="ps-3 col-md-2"><a href="{% url 'frontend:communities' community.name %}" class="link-light">{{ community.name }}</a></th>
            <td class="col-md-2">{{ community.date_created }}</td>
            <td class="col-md-2">{{ community.desc }}</td>
            <td class="col-md-2">{{ community.private }}</td>
            <td class="col-md-2">{{ community.active_tag_set_limit }}</td>
            <td class="col-md-2">{{ community.comm_type }}</td>
            <td class="col-md-2">{{ community.active_url }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block end_body_script %}
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}