{% extends "base.html" %}
{% load static %}

{% block title %}
{% if user is None %}
Project Rio - No Community
{% else %}
Project Rio - {{ community.name }}
{% endif %}
{% endblock %}

{% block body %}

{% if community is None %}

<h1>Community does not exist, {{ community_name }}</h1>

{% else %}

{% if community.private %}
<div class="alert alert-warning alert-dismissible show mt-3 fw-bold" style="width: 95%;" role="alert">
  <i class="bi bi-exclamation-triangle me-2"></i>Community is private
</div>
{% endif %}
<div class="card mt-3">
    <div class="card-header">
        <div>
            <span class="display-5">{{ community.name }} Community</span>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-dark table-hover">
            <tr>
                <th>Variable Name</th>
                <th>Variable Value</th>
            </tr>
            <tr>
                <td>Date Created</td>
                <td>{{ community.date_created }}</td>
            </tr>
            <tr>
                <td>Community Type</td>
                <td>{{ community.community_type }}</td>
            </tr>
            <tr>
                <td>Private</td>
                <td>{{ community.private }}</td>
            </tr>
            <tr>
                <td>TagSet Limit</td>
                <td>{{ community.active_tag_set_limit }}</td>
            </tr>
            <tr>
                <td>URL</td>
                <td>{{ community.active_url }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ community.description }}</td>
            </tr>
        </table>
        <h2>Active Gamemodes</h2>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col" class="ps-3">Name</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody>
                {% for tag_set in tag_sets %}
                <tr>
                    <th scope="row" class="ps-3 col-md-2"><a href="{% url 'frontend:gamemode' tag_set.name %}" class="link-light">{{ tag_set.name }}</a></th>
                    <td class="col-md-2">{{ tag_set.type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endif %}
{% endblock %}
