{% extends "base.html" %}
{% load static %}

{% block title %}
{% if tagset is None %}
Project Rio - No Gamemode
{% else %}
Project Rio - {{ tag_set.name }}
{% endif %}
{% endblock %}

{% block body %}

{% if tag_set is None %}

<h1>Gamemode does not exist, {{ tag_set_name }}</h1>

{% else %}
{% with tag_set.display_alert as status %}
<div class="alert alert-{{ status.alert }} mt-3" role="alert">
    {{ status.message }}
</div>
{% endwith %}

<div class="card mt-3">
    <div class="card-header">
        <div class="display-5">
            {{ tag_set.name }} Gamemode
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover mt-3">
            <tbody>
                <tr>
                    <td>Community</td>
                    <td>
                        {% if tag_set.community %}
                            <a href="{% url 'frontend:community_detail' tag_set.community.slug %}" class="link-dark">{{ tag_set.community.name }}</a>
                        {% else %}
                            No community
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{{ tag_set.tagset_type|title }}</td>
                </tr>
                <tr>
                    <td>Start Date</td>
                    <td>{{ tag_set.start_date }}</td>
                </tr>
                <tr>
                    <td>End Date</td>
                    <td>{{ tag_set.end_date }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% include 'frontend/snippets/cards/tags.html' with fs=2 tags=tag_set.tags.all status='all' %}

{% if tag_set.community %}
    {% include 'frontend/snippets/cards/community.html' with fs=2 community=tag_set.community %}
{% endif %}

{% endif %}
{% endblock %}
