{% extends "base.html" %}
{% load static %}

{% block title %}
{% if user is None %}
Project Rio - No Community
{% else %}
Project Rio - {{ community.name }}
{% endif %}
{% endblock %}

{% block body %}

{% if community is None %}

<h1>Community does not exist, {{ community_name }}</h1>

{% else %}

{% if community.private %}
<div class="alert alert-warning alert-dismissible show mt-3 fw-bold" style="width: 95%;" role="alert">
  <i class="bi bi-exclamation-triangle me-2"></i>Community is private
</div>
{% endif %}
<div class="card mt-3">
    <div class="card-header">
        <span class="display-5">{{ community.name }} Community</span>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Variable Name</th>
                <th>Variable Value</th>
            </tr>
            <tr>
                <td>Date Created</td>
                <td>{{ community.date_created }}</td>
            </tr>
            <tr>
                <td>Community Type</td>
                <td>{{ community.community_type }}</td>
            </tr>
            <tr {% if community.private %}class="fw-bold"{% endif %}>
                <td>Private</td>
                <td>{{ community.private }}</td>
            </tr>
            <tr>
                <td>TagSet Limit</td>
                <td>{{ community.active_tag_set_limit }}</td>
            </tr>
            <tr>
                <td>URL</td>
                <td>{{ community.active_url }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ community.description }}</td>
            </tr>
        </table>
    </div>
</div>
{% include 'frontend/snippets/cards/gamemodes.html' with type='Active' fs=2 tag_sets=tag_sets active='True' %}
{% include 'frontend/snippets/cards/gamemodes.html' with type='Previous' fs=2 tag_sets=tag_sets active='False' %}
{% include 'frontend/snippets/cards/tags.html' with type='Active' fs=2 tags=tags active='True' %}
{% include 'frontend/snippets/cards/tags.html' with type='Inactive' fs=2 tags=tags active='False' %}
{% endif %}
{% endblock %}
